.general {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.general_title {
  color: rgb(114, 114, 107);
  font-size: 1.6rem;
}

.general_q {
  color: rgb(96, 96, 93);
}

.general_form {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
