nav {
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    align-items: center;
}
nav h1 {
    justify-self: center;
}
nav button {
    all: unset;
}

.menu {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    border: 1px solid black;   
    position:fixed;
    z-index: 300;
    width: 20vw;
    height: 15vh;
    left: 77%;
    top: 8%;
}

.menu a {
    font-size: 1.5em;
    text-decoration: none;
}