.selections {
    width: 20vw;
    margin: auto;
    margin-left: 35vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
}

.transpo-form {
    text-align: center;
}

.selections label {
    display: flex;
    justify-content: center;

    padding-bottom: 1vh;
}

.selections label:hover {
    box-shadow: 3px 3px black;
}

.selections p {
    font-size: 2vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.selections input {
    margin-right: 1vw;
}