.selections {
    width: 50vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.transpo-form {
    text-align: center;
}

#submit-button {
    margin: 6vh
}

.selections label {
    display: flex;
    justify-content: center;
}

.selections input {
    margin-right: 1vw;
}