.selections {
    width: 50vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.transpo-form {
    text-align: center;
}

.selections label {
    display: flex;
    justify-content: center;

    margin-left: 17vw;
    margin-right: 17vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.selections label:hover {
    box-shadow: 3px 3px 5px 1px black;
}

.selections input {
    margin-right: 1vw;
}